## Data Understanding

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)

inv_item = pd.read_csv('inv_item.txt', sep='|', header=1, names=[ 'item_id', 'name', 'description', 'department_id', 'default_price_id',
    'has_expiration', 'concept_id', 'creator', 'date_created', 'changed_by',
    'date_changed', 'retired', 'retired_by', 'date_retired', 'retire_reason',
    'uuid', 'has_physical_inventory', 'default_expiration_period',
    'concept_accepted', 'minimum_quantity', 'buying_price'],index_col='item_id')

inv_item_price = pd.read_csv('inv_item_price.txt', sep='|', header=1, names=[
    'item_price_id', 'item_id', 'price', 'name', 'description', 
    'creator', 'date_created', 'changed_by', 'date_changed', 
    'retired', 'retired_by', 'uuid', 'has_expiration'
])

inv_item_stock = pd.read_csv('inv_item_stock.txt',sep='|', header=1, names=[
    'item_stock_id', 'stockroom_id', 'item_id', 'quantity', 'uuid'
],index_col='item_stock_id')

inv_stockroom = pd.read_csv('inv_stockroom.txt',sep='|', header=1, names=[
    'stockroom_id', 'name', 'description', 'location_id', 'creator', 'date_created', 'changed_by', 'date_changed', 'retired', 'retired_by', 'date_retired', 'retire_reason', 'uuid'
],index_col='stockroom_id')

print(inv_item.columns)
print(inv_item_price.columns)
print(inv_item_stock.columns)
print(inv_stockroom.columns)

Index(['name', 'description', 'department_id', 'default_price_id',
       'has_expiration', 'concept_id', 'creator', 'date_created', 'changed_by',
       'date_changed', 'retired', 'retired_by', 'date_retired',
       'retire_reason', 'uuid', 'has_physical_inventory',
       'default_expiration_period', 'concept_accepted', 'minimum_quantity',
       'buying_price'],
      dtype='object')
Index(['item_price_id', 'item_id', 'price', 'name', 'description', 'creator',
       'date_created', 'changed_by', 'date_changed', 'retired', 'retired_by',
       'uuid', 'has_expiration'],
      dtype='object')
Index(['stockroom_id', 'item_id', 'quantity', 'uuid'], dtype='object')
Index(['name', 'description', 'location_id', 'creator', 'date_created',
       'changed_by', 'date_changed', 'retired', 'retired_by', 'date_retired',
       'retire_reason', 'uuid'],
      dtype='object')

In [2]:
# Display the first few rows of the dataframe (optional)
pd.set_option('display.max_columns', None)
print(inv_item.head())
print(inv_item_price.head())
print(inv_item_stock.head())
print(inv_stockroom.head())

                          name description  department_id  default_price_id  \
item_id
685               Gloves Clean         NaN              4              1552
686           Consultation Fee         NaN              4              1562
687       Anc Consultation Fee         NaN              6              1564
688                Anc Profile         NaN              6              5627
689      Urine Dipstick In Anc         NaN              6               777

         has_expiration  concept_id  creator         date_created  changed_by  \
item_id
685                   0         NaN        1  2013-01-11 10:55:37         3.0
686                   0         NaN        1  2013-01-11 10:55:37         3.0
687                   0         NaN        1  2013-01-11 10:55:37         3.0
688                   0         NaN        1  2013-01-11 10:55:37         8.0
689                   0         NaN        1  2013-01-11 10:55:37         NaN

                date_changed  retired  retired_by date_retired retire_reason  \
item_id
685      2013-01-22 10:33:51        0         NaN          NaN           NaN
686      2013-01-22 10:34:49        0         NaN          NaN           NaN
687      2013-01-22 10:35:27        0         NaN          NaN           NaN
688      2014-04-04 11:07:20        0         NaN          NaN           NaN
689                      NaN        0         NaN          NaN           NaN

                                         uuid  has_physical_inventory  \
item_id
685      593344E3-5457-1D50-1F1C-7D71D4A20663                       1
686      EAEF4B12-3657-CA93-A6EC-A8F07E059BD8                       1
687      D41F3D92-180C-4AB9-E4CC-A67CCD14C7A7                       1
688      8A5F9FDB-0579-0C6E-CDBE-B67C376F99B4                       1
689      7445CEBE-545C-CA82-35D7-B9276342C6F6                       1

         default_expiration_period  concept_accepted  minimum_quantity  \
item_id
685                            NaN               0.0               NaN
686                            NaN               0.0               NaN
687                            NaN               0.0               NaN
688                            NaN               0.0               NaN
689                            NaN               0.0               NaN

         buying_price
item_id
685               NaN
686               NaN
687               NaN
688               NaN
689               NaN
     item_price_id  item_id price  name  description              creator  \
779            691     90.0   OPD   NaN            1  2013-01-11 10:55:37
780            692     30.0   OPD   NaN            1  2013-01-11 10:55:37
781            693    635.0   OPD   NaN            1  2013-01-11 10:55:37
782            694    880.0   OPD   NaN            1  2013-01-11 10:55:37
783            695    515.0   OPD   NaN            1  2013-01-11 10:55:37

     date_created changed_by  date_changed  retired  retired_by  uuid  \
779           NaN        NaN             0      NaN         NaN   NaN
780           NaN        NaN             0      NaN         NaN   NaN
781           NaN        NaN             0      NaN         NaN   NaN
782           NaN        NaN             0      NaN         NaN   NaN
783           NaN        NaN             0      NaN         NaN   NaN

                           has_expiration
779  47630d9b-5bc4-11e2-a081-b4b52f5b1c99
780  4763100a-5bc4-11e2-a081-b4b52f5b1c99
781  4763125b-5bc4-11e2-a081-b4b52f5b1c99
782  4763149b-5bc4-11e2-a081-b4b52f5b1c99
783  476316e4-5bc4-11e2-a081-b4b52f5b1c99
               stockroom_id  item_id  quantity  \
item_stock_id
5                       343     1497        63
7                       343     1513        14
8                       343     1592         9
9                       343     1469        39
10                      343     1587         4

                                               uuid
item_stock_id
5              d23f81cc-9234-4cbf-aa6a-34624c4839ab
7              a652d25c-7ac0-46fc-bb15-64015f467064
8              2d25d615-2619-458f-98c1-49514e5b0085
9              985e6945-372a-4c2a-a4bf-e1deb814894e
10             0954290b-6ec1-40d2-bbc8-19c25d44f178
                  name  description  location_id  creator  \
stockroom_id
343              Store          NaN            2        3
344           Casualty          NaN            2        3
345                Lab          NaN            2        3
346           Security          NaN            2       16
347             triage          NaN            2       11

                     date_created  changed_by         date_changed  retired  \
stockroom_id
343           2014-12-11 12:59:55        21.0  2014-12-15 15:14:44        0
344           2014-12-15 10:02:52         NaN                  NaN        0
345           2014-12-15 10:03:00         NaN                  NaN        0
346           2015-01-28 14:47:50         NaN                  NaN        0
347           2015-09-16 11:20:59        11.0  2015-09-16 11:24:14        1

              retired_by         date_retired  retire_reason  \
stockroom_id
343                  NaN                  NaN            NaN
344                  NaN                  NaN            NaN
345                  NaN                  NaN            NaN
346                  NaN                  NaN            NaN
347                 11.0  2015-09-16 11:24:14            NaN

                                              uuid
stockroom_id
343           16d5f0cb-bee7-4cd4-ae8f-c07d8edb815c
344           a704d231-e7ca-4895-9cb8-e179a3e298e3
345           4c9acebe-4f33-4637-9236-7d3b286de19d
346           0c73042c-177b-4723-9151-eeba82bc600f
347           556af950-fc05-4b23-84ea-7944153aa6aa

## Further Analysis

### inv_item

In [3]:
inv_item.head().style.set_properties(**{'text-align': 'left'})

In [17]:
inv_item['buying_price'].value_counts()

buying_price
15.00      10
3.00        9
8.00        8
40.00       7
7.00        6
           ..
55.00       1
51.00       1
1.87        1
0.33        1
1972.00     1
Name: count, Length: 206, dtype: int64

In [24]:
inv_item.info()

<class 'pandas.core.frame.DataFrame'>
Index: 936 entries, 685 to 1631
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   name                       936 non-null    object
 1   description                1 non-null      object
 2   department_id              936 non-null    int64
 3   default_price_id           936 non-null    int64
 4   has_expiration             936 non-null    int64
 5   concept_id                 1 non-null      float64
 6   creator                    936 non-null    int64
 7   date_created               936 non-null    object
 8   changed_by                 552 non-null    float64
 9   date_changed               552 non-null    object
 10  retired                    936 non-null    int64
 11  retired_by                 14 non-null     float64
 12  date_retired               14 non-null     object
 13  retire_reason              8 non-null      object
 14  uuid                       936 non-null    object
 15  has_physical_inventory     936 non-null    int64
 16  default_expiration_period  1 non-null      float64
 17  concept_accepted           794 non-null    float64
 18  minimum_quantity           1 non-null      float64
 19  buying_price               344 non-null    float64
dtypes: float64(7), int64(6), object(7)
memory usage: 153.6+ KB

### inv_item_price

In [5]:

inv_item_price.set_index('item_price_id', inplace=True)
inv_item_price.head().style.set_properties(**{'text-align': 'left'})

In [30]:
inv_item_price['date_created'] = pd.to_datetime(inv_item_price['date_created'], infer_datetime_format=True)
inv_item_price['date_changed'] = pd.to_datetime(inv_item_price['date_changed'], infer_datetime_format=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_22064\3630773166.py:4: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  inv_item_price['date_created'] = pd.to_datetime(inv_item_price['date_created'], infer_datetime_format=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_22064\3630773166.py:10: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  inv_item_price['date_changed'] = pd.to_datetime(inv_item_price['date_changed'], infer_datetime_format=True)

In [31]:
inv_item_price.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1066 entries, 691 to 780
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   item_id         1066 non-null   float64
 1   price           221 non-null    object
 2   name            0 non-null      float64
 3   description     1066 non-null   int64
 4   creator         1066 non-null   object
 5   date_created    389 non-null    datetime64[ns]
 6   changed_by      389 non-null    object
 7   date_changed    1066 non-null   datetime64[ns]
 8   retired         0 non-null      float64
 9   retired_by      0 non-null      float64
 10  uuid            0 non-null      float64
 11  has_expiration  1066 non-null   object
dtypes: datetime64[ns](2), float64(5), int64(1), object(4)
memory usage: 108.3+ KB

### inv_item_stock

In [33]:
inv_item_stock.head().style.set_properties(**{'text-align': 'left'})

### inv_item_stock

In [7]:
inv_stockroom.head().style.set_properties(**{'text-align': 'left'})

In [20]:

inv_item.to_csv('inv_item_exported.csv')


inv_item_price.to_csv('inv_item_price_exported.csv')


inv_item_stock.to_csv('inv_item_stock_exported.csv')


inv_stockroom.to_csv('inv_stockroom_exported.csv')